<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>
  <p>
    <strong>User:</strong>
    <%= post.user.email %>
  </p>
</div>
<%= render 'comments/comment', object: post %>
<%= render 'comments/form', object: post %>
