<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
    <strong>, ID:</strong>
    <%= post.id %>
  </p>
  <p>
    <strong>User:</strong>
    <%= post.user.email %>
  </p>
  <p >Posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</p>
  <%= turbo_frame_tag :comments do %>
    <%= render 'comments/comment', post: post %>
  <% end %>
</div>
<% comment do%>
  <%= render 'comments/comment', post: post %>
  <%= render 'comments/form', post: post %>
  <% comment end%>
